body
{
    margin-top: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background: url(/bshadmin/img/background.jpg);
    background-position: center top;
}

body a
{
    border: 0px;
    color: #044762;
}

#container
{
    width : 1010px;
    border: 0px;
    margin : auto;
    background-color: white;
}

#role, #connect {
    background-color: #044762;
    height: 20px;
    color: white;
    font-size: 12px;
}

#role a , #connect a {
	color: white;
}

#role span , #connect span {
	margin-left: 5px;
	margin-right: 5px;
}

#connect {
	text-align: right;
}

#menu {
	background-color: #a7cfe0;
	height: 25px;
	vertical-align: middle;
}

header {
	height: 152px;
	background-color: #c7d7de;
}

#banniere {
    height: 152px;
    width: 1010px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  margin-top: -5px;
}
#cssmenu.align-right ul li {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.22);
}
#cssmenu.align-right ul li a {
  border-right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
#cssmenu ul {
  background: #222222;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #022B3B 0%, #044762 50%, #1D5972 51%, #366C81 78%, #6891A1 100%);
  background: -webkit-linear-gradient(bottom, #022B3B 0%, #044762 50%, #1D5972 51%, #366C81 78%, #6891A1 100%);
  background: -o-linear-gradient(bottom, #022B3B 0%, #044762 50%, #1D5972 51%, #366C81 78%, #6891A1 100%);
  background: -ms-linear-gradient(bottom, #022B3B 0%, #044762 50%, #1D5972 51%, #366C81 78%, #6891A1 100%);
  background: linear-gradient(to top, #022B3B 0%, #044762 50%, #1D5972 51%, #366C81 78%, #6891A1 100%);
  
  /*background: -moz-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -webkit-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -o-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: -ms-linear-gradient(bottom, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%);
  */
}
#cssmenu:after,
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  float: left;
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.22);
  z-index: 1;
}
#cssmenu ul li::after {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #044762 61%, #044762 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #044762 61%, #044762 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #044762 61%, #044762 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #044762 61%, #044762 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  /*
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #222222 61%, #222222 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  */
  z-index: 2;
  bottom: 10px;
}
#cssmenu ul li a {
  display: block;
  padding: 9px 23.5px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 3;
}

#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #800000;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #700000, #980000 50%, #AE0000 51%, #A64D4D 78%, #B76E6E 100%);
  background: -webkit-linear-gradient(bottom, #700000, #980000 50%, #AE0000 51%, #A64D4D 78%, #B76E6E 100%);
  background: -o-linear-gradient(bottom, #700000, #980000 50%, #AE0000 51%, #A64D4D 78%, #B76E6E 100%);
  background: -ms-linear-gradient(bottom, #700000, #980000 50%, #AE0000 51%, #A64D4D 78%, #B76E6E 100%);
  background: linear-gradient(to top, #700000, #980000 50%, #AE0000 51%, #A64D4D 78%, #B76E6E 100%);
}
#cssmenu ul li:hover::after,
#cssmenu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #AE0000 61%, #AE0000 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #AE0000 61%, #AE0000 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #AE0000 61%, #AE0000 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #AE0000 61%, #AE0000 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
	
section {
    width: 1010px;
    min-height: 605px;
    //border: 1px #044762 solid;
}

#index, section {
    display: inline-block;
    vertical-align: top;
}

footer
{
    text-align: center;
    color: white;
    background-color: #044762;
    height: 25px;
    vertical-align: middle;
}

article {
    width: 770px;
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 2px solid #044762;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 6px #044762;
    background-color: #F0F0F0;
}

article p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    text-align: justify;
}

article img {
    padding: 15px;
}

#creation {
    font-size: 11px;
    margin-left: 15px;
}

/* les tableau */

#tabdonnee, #plage, #calendrier, .mois, .tableau-donnees
{
    margin: auto;
    border-spacing: 1px;
    border-collapse: separate;
}

#colhead {
    background-color: #044762;
    text-align: center;
    color: white;
}

#tabdonnee th {
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
    background-color: #044762;
    text-align: center;
    color: white;
}

#tabdonnee td {
    font-size: 14px;
    height: 20px;
    padding: 2px;
        
}

#tabdonnee tr:hover td, 
#calendrier td:hover {
    background-color : #c7d7de;
}

#tabdonnee th, #plage th
{
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
}

#calendrier th
{
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

#plage td {
    height: 11px;
    font-size: 12px;
    padding: 1px;
}

#heure td {
    height: 25px;
    font-size: 12px;
}

#tabdonnee td a, #plage td a {
    color: black;
}

#tabdonnee th a, #plage th a {
    color: white;
}

#calendrier
{
    width: 200px;
}

#calendrier th
{
	font-size: 12px;
	height: 16px;
}

#calendrier td
{
	font-size: 12px;
	height: 20px;
}

#calendrier a, h1 a
{
	color: black;
	text-decoration: none;
}

#impair, 
.occupe,
#tabdonnee tr:nth-child(even) 
{ 
    background-color: #D2D3D5; 
}

#pair, 
.non-occupe,
#heure td,
#tabdonnee tr:nth-child(odd) 
{ 
    background-color: #FAFAFA; 
}

#blanc {
    background-color: #FFFFFF;
    text-align: left;
}

#titreCentre
{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#connectForm
{
    text-align: left;
    font-size: 12px;
}

h1
{
    font-size: 26px;
    margin-left: 25px;
    color: #b72025;
}

h2
{
    font-size: 18px;
    margin-left: 25px;
    color: #044762;
}

h3
{
    font-size: 16px;
    text-align: center;
    color: #044762;
}

h4 {
    font-size: 18px;
    text-align: center;
    color: #044762;
    font-style:italic;
}

h5 {
    font-size : 20px;
    margin-top: -8px;
    margin-left: 15px;
    margin-bottom: 10px;
    color : #b72025;
}

span, label, #soustitre, p {
    margin-left: 25px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: none;
}
	
aside {
    width: 218px;
    text-align: center;
    float: right;
    border-style: solid solid solid solid;
    border-color: #044762;
    border-size: 1px;
    border-width: 1px;
    background-color: #DCE5EA;
    margin-top: 1px;
}

#liensimage {
    height: 40%;
    width: 40%;
    margin-top: 3px;
    margin-bottom: -5px;
}
	
.mois {
	width:90%;
}

.occupe, .non-occupe
{
	width: 120px;
	height: 90px;
	font-size: 12px;
	vertical-align: top;
}

.occupe:hover
{
    background-color: #CCCCFF; 
    font-weight: bold;
}

.date
{
	font-size: 13px;
	font-weight: bold;
	color: blue;
	margin-left: 107px;
        //text-align: right;
}


#infoparent
{
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

#reserve {
    background-color: #DDDDDD; 
    border: 1px solid #888888;
    font-size: 12px;
    padding: 1px;
}

#non-confirm {
    background-color: #EEEEEE; 
    border: 1px dashed #888888;
    font-size: 12px;
    font-style: italic;
    padding: 1px;
}

#date {
    display: inline-block;
    width: 70px;
}

#reserve a, #non-confirm a {
    color: #b72025;
}

.reservation
{
    display: inline-block;
    vertical-align: top;
    border: 1px;
    border-color: #044762;
}

#menuhead {
    height: 30px;
    border-width: 1px;
    border-color: white;
    //background-color: #c72229;
    font-size: 13px;
    background: -webkit-linear-gradient(#c72229, #800000, #a50007); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c72229, #800000, #a50007); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c72229, #800000, #a50007); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c72229, #800000, #a50007); /* Standard syntax */
}

#menuhead a, center {
    color: white;
    text-decoration: none;
}

#menuhead center {
    font-weight: bold;
}

#menuhead td {
    padding: 1px;
}

#menuhead a:hover, #menu a:after {
    color: #dddddd;
}

/* form elements */
legend {
    margin-left: 15px;
    font-weight: bold;
}

label {
    font-size: 14px;
}

.dropDown label {
    margin-left:0px;
}

#equipe {
    width: 135px;
}

#pointage {
    text-align: right;
    width: 30px;
}

#pscroller1 {
    width: 646px;
    height: 56px;
    margin-top: 1px;
    margin-left: -5px;
    font-size: 12px;
    background: -webkit-linear-gradient(#c72229, #800000, #a50007); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c72229, #800000, #a50007); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c72229, #800000, #a50007); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c72229, #800000, #a50007); /* Standard syntax */
    border: 1px solid #044762;
    //margin-bottom : -18px;
}

#dernResultHead {
    vertical-align: top;
    width:143px;
    height: 56px;
    margin-top: 1px;
    margin-right: 0px;
    //font-size: 16px;
    background: -webkit-linear-gradient(#c72229, #800000, #a50007); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#c72229, #800000, #a50007); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#c72229, #800000, #a50007); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#c72229, #800000, #a50007); /* Standard syntax */
    border: 1px solid #044762;
    //margin-bottom : -18px;
}

#dernResultHead p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 15px;
}

#derniersresultats, #dernResultHead {
    display: inline-block;
    float: left;
}

#resultats {
    width: 200px;
    padding: 5px;
    color: white;
    font-size: 11px;
    display: inline-block;
}

#resultats span {
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
    color: #D2D3D5;
}

#headerEquipe {
    background-color: #BBBBBB;
    height: 118px;
    margin-top: 1px;
}

#headerEquipe a {
    color: white;
    text-decoration: none;
}

#headerEquipe a:hover {
    color: #DDDDDD;
    text-decoration: underline;
}

.message {
    padding : 10px;
    background-color : pink;
    border : 2px black solid
}

#badMessage {
    background-color : pink;
}

#goodMessage {
    background-color : #47DA47;
}

#inscription li {
    margin-left: 17px;
    padding: 8px;
}

.icon-home {
    background: #ffffff url("http://www.npaq.net/baseball/img/glyphicons/glyphicons_020_home.png");
    width: 18px;
    margin-top: 3px;
}

.lienEvenement {
    text-decoration: none;
}

.eventsRallyeCap {
    margin-top: 10px;
    width: 320px;
    list-style: none;
    float: right;
}

.eventsRallyeCap li {
    background-color: #044762;
    color: white;
    margin-top: 5px;
    //margin-right: 5px;
    padding: 15px;
    font-size: 16px;
    text-align: left;
    min-height: 24px;
    //box-shadow: 2px 2px 4px #333333;
}

.eventsRallyeCap li a {
    color: white;
    text-decoration: none;
}

.eventsRallyeCap .titre {
    background-color: #b72025;
}

.eventsRallyeCap .icon {
    float: right;
}
